//- desktop
style.
  #desktop {
    width: 100%;
    position: relative;
  }
  paper-drawer-panel {
    height: 0;
  }
  #login {
    width: 400px;
    margin: 50px auto;
    padding: 50px 60px;
  }
  #right-menu, #file-menu {
    width: 200px;
    display: none;
    position: absolute;
    padding: 10px 0;
    background: #fff;
    z-index: 700;
  }
  #right-menu paper-button, #file-menu paper-button {
    display: block;
    text-align: left;
  }
  #right-menu paper-button:hover, #file-menu paper-button:hover {
    background: #eee;
  }
  .desktop-file, .desktop-folder {
    width: 60px;
    margin: 10px;
    float: left;
    text-align: center;
  }
  
  .desktop-file iron-icon, .desktop-folder iron-icon {
    --iron-icon-height: 24px;
    --iron-icon-width: 24px;
  }
  
  #user-toolbar {
    display: none;
  }
  
  #editor-container {
    position: absolute;
    width: 700px;
    overflow: hidden;
    left: 50%;
    top: 50%;
    margin-left: -350px;
    margin-top: -200px;
    z-index: 200;
  }
  #editor-container paper-dialog-scrollable {
    height: 300px;
    overflow: auto;
  }
div#desktop
  paper-toolbar#user-toolbar
    form(action="go back")
      paper-icon-button(icon="arrow-back")
    span#path
  paper-material#login
    form(action="user login")
      paper-input(label="username")
      paper-button(raised style="background: #66ff44") Login
      paper-button#exit-btn(role="ordinary") exit
  paper-material#menu-bar
  paper-material#right-menu.context-menu
    form(action="new file")
      paper-button new file
    form(action="new folder")  
      paper-button new folder
    form(action="new process")  
      paper-button new process
      paper-button#exit-desktop exit
  paper-material#file-menu.context-menu
    form(action="delete fcb")
      input(label="id" type='hidden')
      paper-button delete
  paper-dialog(data-role="form" action="edit file" entry-animation="scale-up-animation"
              exit-animation="fade-out-animation")#editor-container
    paper-input(label="name")
    paper-dialog-scrollable
      input(label="id" type="hidden")#editor-id
      paper-textarea(label="content")#editor
    div.button
      paper-button(role="ordinary")#editor-close close
      paper-button edit
  paper-material#desktop-main    
    
script.
  $('#desktop').height($(window).height());
  $('#desktop-main').height($(window).height() - $('#user-toolbar').height());
  // TODO: desktop
  var user = 'admin';
  
  socket.on('user login', function(data) {
    user = data.username;
    if (user == 'admin') {
        return;
    } else {
      $('#login').hide();
      $('#desktop-main').fadeTo(200, 1);
      $('#user-toolbar').fadeTo(200, 1).find('#path').html(user);
    }
  });
  
  function createFile(name, id) {
    var file = $('<div></div>');
    file.addClass('desktop-file');
    file.attr('name', name).attr('fid', id);
    file.html('<iron-icon icon="description"></iron-icon><p>' + name + '</p>');
    return file;
  }
  
  function createFolder(name, id) {
    var file = $('<div></div>');
    file.addClass('desktop-folder');
    file.attr('name', name).attr('fid', id);
    file.html('<iron-icon icon="folder"></iron-icon><p>' + name + '</p>');
    return file;
  }
  
  socket.on('new file', function(data) {
    var file =createFile(data.name, data.id);
    $('#desktop-main').append(file);
  });
  
  socket.on('new folder', function(data) {
    var file = createFolder(data.name, data.id);
    $('#desktop-main').append(file);
  })
  
  socket.on('read file', function(data) {
    $('#editor-container').show();
    $('#editor').val(data.content);
    $('#editor-id').val(data.id);
    $('#editor-container paper-input[label="name"]').val(data.name);
  });
  
  socket.on('open folder', function(data) {
    $('#desktop').find('.desktop-file, .desktop-folder').remove();
    console.log(data);
    for(var i =0 ; i<data.subFcbs.length; i ++) {
      var fcb = null, f = data.subFcbs[i];
      if(f.isFolder) {
        fcb = createFolder(f.name, f.id);
      } else {
        fcb = createFile(f.name, f.id);
      }
      
      $('#desktop-main').append(fcb);
    }
    
    $('#path').html(data.path);
  });
  
  $('#editor-close').on('click', function() {
    $('#editor-container').hide();
  });
  
  $('#desktop').on('click', function(e) {
    $('#right-menu, #file-menu').hide();
  });
  
  $('#desktop-main').on('click', '.desktop-file', function() {
    socket.emit('read file', {
      id: $(this).attr('fid')
    });
  });
  
  $('#desktop-main').on('contextmenu', function(e) {
    if (user === 'admin') {
        return;
    }
    e.preventDefault();
    
    $('.context-menu').hide();
    
    $('#right-menu').css({
      top: e.clientY,
      left: e.clientX
    }).show();
  });
  
  $('#desktop-main').on('contextmenu', '.desktop-file, .desktop-folder', function(e) {
    e.preventDefault();
    e.stopPropagation();
    
    $('.context-menu').hide();
  
    $('#file-menu').css({
      top: e.clientY,
      left: e.clientX
    }).show();
    
    $('#file-menu input[type="hidden"]').val($(this).attr('fid'));
  });
  
  $('#desktop').on('click', '.desktop-folder', function() {
    socket.emit('open folder', {
      id: $(this).attr('fid')
    });
  });
  
  $('#exit-btn').on('click', logout);
  $('#exit-desktop').on('click', logout);
  
  function logout() {
    $('paper-drawer-panel').show().css('height', '100%');
    $('#desktop').hide();
    $('#desktop-main').hide();
    $('#login').show();
    $('#user-toolbar').hide();
    
    socket.emit('user logout', user);
      user = 'admin';
  }
