extends layout

block content
  //- memory
  paper-material(elevation=2).main
    h1 Memory
    h3 Change Alogorithm
    div.change-mode(data-mode="memory")
      paper-radio-group(selected='FF')
        paper-radio-button(name='FF') FF
        paper-radio-button(name='NF') NF
        paper-radio-button(name='BF') BF
        paper-radio-button(name='WF') WF
    h3 Memory State
    canvas#memoryHistory(width="500", height='300')
    canvas#memoryPercent(width='400' height='300')
  
  //- cpu
  paper-material(elevation=2).main
    h1 CPU
    h3 Change Alogorithm
    div.change-mode(data-mode="cpu")
      paper-radio-group(selected='0')
        paper-radio-button(name='0') FCFS
        paper-radio-button(name='1') LZ
        paper-radio-button(name='2') DJFKLZ
        paper-radio-button(name='3') JTYXJ
        paper-radio-button(name='4') DTYXJ
        paper-radio-button(name='5') ZDZY
        paper-radio-button(name='6') ZGXYB
    h3 Adding process
      form(action="add a process")
        div.input-box
          paper-input(label="name")
        div.input-box
          paper-input(label="memory")
        div.input-box
          paper-input(label="time")
        div.input-box
          paper-input(label="level")
        div
          paper-button(raised style="background:#99ee44") Add
    div#play-ground
      div#ready-ground.ground
      div#init-ground.ground
      div#wait-ground.ground
      div#finish-ground.ground
        
    h3 Cpu Status
    paper-material
      table
        thead
          tr
            th name
            th cpu time
            th memory size
            th level
            th user
            th status
            th operation
        tbody#pcbTable  

  //- harddisk
  paper-material(elevation=2).main
    h1 hard disk
    h3 Add Fragment
    form(action="new fragment")
      div.input-box
        paper-input(label="name")
      div.input-box
        paper-input(label="size")
      paper-button(raised) add
      div.clear-fix
    h3 Delete Fragment
    form(action="delete fragment")
      div.input-box
        paper-input(label="name")
      paper-button(raised) delete
      div.clear-fix
    h3 Hard Disk Sections    
    div#disk-section-container
    h3 Hard disk segments
    div#disk-fragment-container
      
  //- user
  style.
    #user-list > paper-checkbox {
      padding: 10px 15px;
    }
  paper-material(elevation="2").main
    h1 User
    h3 Add user
    form(action="add user")
      div.input-box
        paper-input(label="username")
      div.input-box
        paper-input(label="fragment")    
      div
        paper-button(raised) Add
    h3 User list
    div#user-list
    h3 Delete user
    form(action="delete user")
      div.input-box
        paper-input(label="username")
      div
        paper-button(raised) Delete

      
