extends layout

block memory
  paper-material(elevation=2).main
    h1 Memory
    h3 Change Alogorithm
    div.change-mode(data-mode="memory")
      paper-radio-group(selected='FF')
        paper-radio-button(name='FF') FF
        paper-radio-button(name='NF') NF
        paper-radio-button(name='BF') BF
        paper-radio-button(name='WF') WF
    h3 Memory History
    canvas#memoryHistory(width="900", height='300')
    h3 Memory Sections
    canvas#memoryPercent(width='300' height='300')
  

block cpu
  paper-material(elevation=2).main
    h1 CPU
    h3 Change Alogorithm
    div.change-mode(data-mode="cpu")
      paper-radio-group(selected='0')
        paper-radio-button(name='0') FCFS
        paper-radio-button(name='1') LZ
        paper-radio-button(name='2') DJFKLZ
        paper-radio-button(name='3') JTYXJ
        paper-radio-button(name='4') DTYXJ
        paper-radio-button(name='5') ZDZY
        paper-radio-button(name='6') ZGXYB
    h3 Adding process
      div#inputs
        div.input-box
          paper-input(label="name")
        div.input-box
          paper-input(label="memory")
        div.input-box
          paper-input(label="time")
        div.input-box
          paper-input(label="level")
        paper-button(raised style="background:#99ee44")#update Add
    h3 Cpu Status
    table
      thead
        tr
          th name
          th cpu time
          th memory size
          th level
          th user
      tbody#pcbTable
    
block hard-disk
  paper-material(elevation=2).main
    h1 hard disk
    h3 Hard Disk

block desktop
  style.
    #desktop {
      display: none
    }
    #login {
      width: 400px;
      margin: 50px auto;
      padding: 50px 60px;
    }
  div#desktop
    paper-material#login
      h2 logging
      paper-input(label="username")#username
      paper-button(raised style="background: #66ff44")#login-btn Login
    paper-material#menu-bar
    paper-material#right-menu
      paper-menu
        paper-item#new-file new file
        paper-item#new-folder new folder
        paper-item#new-process new process
      
  script.
    
    var user = 'admin';
    $('#login-btn').on('click', function() {
      socket.emit('user login', $('#username').val());
      user = $('#username').val();
      $(this).hide();
    });
    
    $('#desktop').on('click', function(e) {
      if (user === 'admin') {
          return;
      }
      
      
    });
