doctype html
html
  head
    title= title
    
    script(type="text/javascript" src="/webcomponentsjs/webcomponents.min.js")
      
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="import" href="/polymer/polymer-mini.html")
    link(rel="import" href="/paper-drawer-panel/paper-drawer-panel.html")
    link(rel="import" href="/paper-header-panel/paper-header-panel.html")
    link(rel="import" href="/paper-toolbar/paper-toolbar.html")
    link(rel="import" href="/paper-ripple/paper-ripple.html")
    link(rel="import" href="/paper-button/paper-button.html")
    link(rel="import" href="/paper-menu/paper-menu.html")
    link(rel="import" href="/paper-item/paper-item.html")  
    link(rel="import" href="/paper-toggle-button/paper-toggle-button.html")
    link(rel="import" href="/paper-material/paper-material.html")
    link(rel="import" href="/paper-radio-group/paper-radio-group.html")
    link(rel="import" href="/paper-radio-button/paper-radio-button.html")
    link(rel="import" href="/paper-behaviors/paper-button-behavior.html")
    link(rel="import" href="/neon-animation/neon-animations.html")
    link(rel="import" href="/paper-icon-button/paper-icon-button.html")
    link(rel="import" href="/iron-iconset/iron-iconset.html")
    link(rel="import" href="/iron-icons/iron-icons.html")
    link(rel="import" href="/paper-input/paper-textarea.html")
    link(rel="import" href="/paper-input/paper-input.html")
    link(rel="import" href="/paper-dialog/paper-dialog.html")
    link(rel="import" href="/paper-checkbox/paper-checkbox.html")
    link(rel="import" href="/paper-dialog-scrollable/paper-dialog-scrollable.html")
    link(rel="import" href="/paper-slider/paper-slider.html")
    
    script(type="text/javascript" src="/chartjs/Chart.min.js")
    script(type="text/javascript" src="/socket.io/socket.io.js")
    script(type="text/javascript" src="/jquery/dist/jquery.min.js")
      
    script(type="text/javascript" src="/javascripts/helper.js")
    script(type="text/javascript" src="/javascripts/heart-beat.js")
      
  body
    div#manage
      paper-toolbar(style="background: #3333aa")
        paper-button(icon='menu' alt='menu')#enter-desktop 进入桌面
        label cpu time
        paper-slider(min="1" max="20000" valu="1000")#cpuTime
      div#main
        block content
    include ./desktop.jade
    script(type="text/javascript" src="/javascripts/index.js")
          
